<h1 id='title'>Órdenes:</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <span  id="por_procesar" class="nav-link active" aria-current="page">Por procesar...</span>
  </li>
  <li class="nav-item">
    <span id="procesadas" class="nav-link">Procesadas</span>
  </li>
  <li class="nav-item">
    <span  id="platos" class="nav-link">Platos</span>
  </li>
  {{!-- <li class="nav-item">
    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> --}}
</ul>


<div id="ordenes_container">
    {{!-- ordenes go here --}}
</div>


<h1 id='no_hay_ordenes_msg' style="margin-left:20px"><br><br>No hay ordenes para preparar todavía...</h1>

<div id="cocinaNumberContainer" style='position:absolute;top:10px;right:20px'>
  <h2>Cocina: </h2>
  <select id='cocina-select'>
    <option value="Piqueos">Piqueos</option>
    <option value="Almuerzos">Almuerzos</option>
  </select>
</div>

<script src="js/socket.io.js"></script>
<script>
        var socket = io();
</script>


<script src="js/controllers/cocina/getTodaysOrders.js"></script>
<script src="js/controllers/cocina/processOrder.js"></script>
<script src="js/controllers/cocina/processPlate.js"></script>
<script src="js/controllers/cocina/navBarClicked.js"></script>
<script src="js/controllers/cocina/loadPlatos.js"></script>
<script src="js/controllers/cocina/setStock.js"></script>

<script src="js/controllers/cocina/socketEvents.js"></script>
<script src="js/cocina.js"></script>