<div class="row justify-content-center">
    <div class="col-8">
        <table id="main_table" class="table table-borderless cell-border hover order-column row-border stripe ">
            <thead id="main_thead"><tr id="main_thead-tr"></tr></thead>
            <tbody id="main_tbody"></tbody>
        </table>
    </div>
</div>

<script src="js/inicio.js"></script>