<table id="admin_table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombres</th>
            <th>Correo</th>
            <th>Posición</th>
            <th>x</th>
        </tr>
    </thead>
    <tbody id="admin_tbody">
    </tbody>
</table>

<script src="js/inicio.js"></script>