<form>
    <input id="email" type="text" placeholder="email">
    <input id="password" type="password" placeholder="contraseña">
    <input type="submit" value="OK">
</form>
<p id="error-message"></p>
<script src="js/login.js"></script>