<section class='row justify-content-center bg' style="min-height:100vh;width: 100vw;margin: 0;">
    <section class="col12 col-sm-6 col-md-3" style="display: flex;align-items: center;justify-content: center">
        <form class="form-container">
            <div class="mb-3">
                <label for="FormControlemail" class="form-label">Correo electrónico de la empresa</label>
                <input type="email" class="form-control" id="FormControlemail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Que tengas un muy lindo día</div>
            </div>
            <div class="mb-3">
                <label for="FormControlpassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="FormControlpassword">
            </div>
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
            <br>
            <p id="error-message"></p>
        </form>
    </section>
</section>
<script src="js/login.js"></script>